{{!-- footer.hbs--}}
<footer class="footer">
    <div class="content has-text-centered">
        <div class="">
            <a href="https://github.com/RayRmJmz/weatherApp"><i class="fab fa-github-square fa-5x"></i></a>
          </div>
        <p>© 2021 Tecnológico Nacional de México -- <a href="https://www.itcolima.edu.mx/">Instituto Tecnológico de Colima</a>  </p>
        <p>Author: Raymundo Ramos Jimenez</p>
    </div>
</footer>
