<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather app</title>
    <link rel="stylesheet" href="css/mystyles.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">

</head>
<body >
    <section class="hero is-info is-fullheight" >
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <span class="icon">
                            <i class="fas fa-home"></i>
                            </span>
                            &nbsp;
                            WeatherApp
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                           Oops!... 404 Page not found
                        </h1>
                        <h2 class="subtitle">
                           The page are you looking for doesn´t exist <a href="/">Back home</a>
                        </h2>
                        <i class="far fa-7x fa-sad-cry"></i><br><br>
                    </div>
                </div>
            </div>

    </section>
</body>
</html>