<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather app</title>
    <link rel="stylesheet" href="css/mystyles.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
  </head>
  <body>
    {{>header}}

    <section class="hero  is-dark is-fullheight" >
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Abut weather app
          </p>
          <p class="subtitle">
            This app was developed with Node.js, Express and Handlebars.js, powered by weatherstacks & mapbox API services
          </p>
          <br>
          <div class="container has-text-centered">
          <div class="columns">
            <div class="column">
              <p class="title is-3">
               Node.js
              </p>
              <p class="subtitle">
                Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine.
              </p>
            </div>
            <div class="column">
              <p class="title is-3">
                WeatherStacks API
              </p>
              <p class="subtitle">
                Weatherstack is a real-time & historical world weather data API.
              </p>
            </div>
            <div class="column">
              <p class="title is-3">
                Geocoding API
              </p>
              <p class="subtitle">
                Precise location data and powerful developer tools to change the way we navigate the world.
              </p>
            </div>
            <div class="column">
              <p class="title is-3">
                Bulma.io
              </p>
              <p class="subtitle">
                Bulma is a free, open source framework that provides ready-to-use frontend components.
              </p>
            </div>
            
          </div>
        </div>
        </div>
        
      </div>
    </section>

    {{>footer}}

    
  </body>
</html>