<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Weather app</title>

    <link rel="stylesheet" href="/css/mystyles.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
  </head>
  <body>

    {{>header}}
    <section class="hero is-fullheight" style="background-image: url('img/404.gif');">
        <div class="hero-head">
          </div>
          <div class="hero-body is-fullheight" style="background-image: url('img/404.gif');">
            <div class="container has-text-centered" >
              <h1 class="title has-text-white">Welcome to weather app</h1>
              <h2 class="subtitle has-text-white">
                powered by
              </h2>
              <img src="https://cdn.emk.dev/templates/bulma-logo-light.png" width="150" height="40">
               <img src="img/wslogo.png" width="150" height="40">
               <img src="img/mblogo.png" width="150" height="40">
            </div>
          </div>
    </section>
      
    {{>footer}}
    
  </body>
</html>